.header__logo, .footer__logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.contacts__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.socials__link, .join__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}

.socials__link:hover, .join__link:hover, .socials__link:focus, .join__link:focus {
  background-color: #2196f3;
}

.socials__icon, .join__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.join__title, .subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
    height: 60px;
  }
}

.logo--color-head {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .header-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-mobile {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-mobile {
    margin-right: 93px;
  }
}

.header__btn {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

/* site nav */
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover::after {
    transform: scaleX(1);
  }
}

.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    transform: scaleX(1);
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 48px 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu.is-open {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.menu__btn {
  position: absolute;
  border: none;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn:hover .icon--cross {
  fill: #2196f3;
}

.icon--menu,
.icon--cross {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn:hover .icon--menu, .header__btn:hover
.icon--cross {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contacts__link--phone {
    font-size: 34px;
    color: #2196f3;
  }
  .contacts__link--email {
    font-size: 24px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.links {
  display: flex;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .links {
    display: none;
  }
}

.links__item {
  display: flex;
  align-items: center;
}

.links__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 22px;
  margin: 0 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/mob-hero.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/mob-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/tablet-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/studio/tablet-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/desktop-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/desktop-hero@2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (min-width: 768px) {
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width: 1199px) {
  .modal-window {
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-window__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: #212121;
}

.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__btn:hover, .close__btn:focus {
  color: #2196f3;
}

.close__icon {
  fill: currentColor;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group__feedback {
  margin-bottom: 20px;
}

.form-group__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-group__input, .form-group__textarea {
  padding: 14px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input {
  padding-left: 42px;
}

.form-group__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input:focus, .form-group__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.form-group__input:focus + .form-group__icon {
  fill: #2196f3;
}

.form-group__textarea {
  height: 120px;
  resize: none;
}

.form-group__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .form-group__policy {
    font-size: 14px;
  }
}

.form-group__policy::before {
  content: "";
  display: inline-block;
  align-self: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form-group__checkbox:checked + .form-group__policy::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/studio/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__btn {
  margin-top: 30px;
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  padding: 10px 55px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.policy-conditions {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .policy-conditions {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .section--no-paddind {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    margin: -15px;
  }
}

.features__icon-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 100%;
}

.features__icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc(50% - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(25%-30px);
    margin: 15px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do__list {
  display: flex;
}

.we-do__item {
  width: calc((100%-60px) / 3);
  position: relative;
}

.we-do__item:not(:last-child) {
  margin-right: 30px;
}

.we-do__descr-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.we-do__descr-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.section--grey-bg {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.team__item img {
  width: 100%;
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  color: #ffffff;
}

.clients {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: space-between;
  }
}

.clients__item {
  margin: 15px;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .clients__item {
    min-width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    min-width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    min-width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  min-width: 100%;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__logo {
  height: 60px;
  width: 106px;
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:nth-last-child(n + 3) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-last-child(n + 3) {
    margin-bottom: 21px;
  }
}

.filter__button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects__item {
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__item img {
  width: 100%;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__about {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__about,
.projects__link:focus .projects__about {
  transform: translateY(0);
}

.projects__descr {
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.projects__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__type {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0 15px;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    flex-grow: 1;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--color-foot {
  color: #ffffff;
}

/* Address Footer */
@media screen and (max-width: 1199px) {
  .address__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item--white {
  color: #ffffff;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

/* Join us */
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__icon {
  fill: #ffffff;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

/* Subscribe */
@media screen and (max-width: 767px) {
  .subscribe {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__form {
  width: auto;
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__email {
  padding: 15px 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
  }
}

.subscribe__btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  fill: white;
}

@media screen and (max-width: 1199px) {
  .subscribe__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */